@import "macchiato.css";

* {
  font-family: JetBrainsMono NFP;
  font-size: 18px;
}

/* Bar styling - https://github.com/Alexays/Waybar/wiki/Styling#Bar-styling */
window#waybar {
  background-color: @base;
  color: @text;
}

/* Hyprland workspaces - https://github.com/Alexays/Waybar/wiki/Module:-Hyprland#workspaces */
#workspaces button {
  padding: 0px 1px;
  margin: 5px 0px 5px 7px;
  border-radius: 2px;
  color: @text;
  background: transparent;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button.active {
  font-weight: 800;
}

#workspaces button.special {
  padding: 0px 4px;
}

#workspaces button.active.hosting-monitor {
  background: @peach;
  color: black;
}

#submap {
  background: @green;
  color: @base;
  font-weight: 800;
  border-radius: 2px;
  margin: 5px 0px 5px 7px;
  padding: 0px 6px;
}
