@import "macchiato.css";

* {
  font-family: JetBrainsMono NFP;
  font-size: 18px;
}

/* Bar styling - https://github.com/Alexays/Waybar/wiki/Styling#Bar-styling */
window#waybar {
  background-color: @base;
  color: @text;
}

/* Tooltip styling - https://github.com/Alexays/Waybar/wiki/Styling */
tooltip {
  background: @mantle;
  border: 1px solid @surface0;
  border-radius: 4px;
}

tooltip label {
  color: @text;
  padding: 2px 4px;
}

/* Hyprland workspaces - https://github.com/Alexays/Waybar/wiki/Module:-Hyprland#workspaces */
#workspaces button {
  padding: 0px 1px;
  margin: 5px 0px 5px 8px;
  border-radius: 2px;
  color: @text;
  background: transparent;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button.active {
  font-weight: 800;
}

#workspaces button.special {
  padding: 0px 4px;
}

#workspaces button.active.hosting-monitor {
  background: @peach;
  color: black;
}

#submap {
  background: @green;
  color: @base;
  font-weight: 800;
  border-radius: 2px;
  margin: 5px 0px 5px 8px;
  padding: 0px 6px;
}

/* Backlight - https://github.com/Alexays/Waybar/wiki/Module:-Backlight */
#backlight {
  color: @text;
  padding: 0px 4px;
}

/* Battery - https://github.com/Alexays/Waybar/wiki/Module:-Battery */
#battery {
  color: @text;
  padding: 0px 4px 0px 4px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

/* Bluetooth - https://github.com/Alexays/Waybar/wiki/Module:-Bluetooth */
#bluetooth {
  color: @text;
  padding: 0px 4px;
}

#bluetooth.connected {
  color: @blue;
}

#bluetooth.off,
#bluetooth.disabled {
  color: @surface1;
}

/* CPU - https://github.com/Alexays/Waybar/wiki/Module:-CPU */
#cpu {
  color: @text;
  padding: 0px 8px;
}

#cpu.warning {
  color: @yellow;
}

#cpu.critical {
  color: @red;
}

/* Clock - ttps://github.com/Alexays/Waybar/wiki/Module:-Clock */
#clock {
  color: @lavender;
  padding: 0px 8px;
  font-feature-settings: "tnum";
}

/* Memory - https://github.com/Alexays/Waybar/wiki/Module:-Memory */
#memory {
  color: @text;
  padding: 0px 6px;
}

#memory.warning {
  color: @yellow;
}

#memory.critical {
  color: @red;
}

/* Network - https://github.com/Alexays/Waybar/wiki/Module:-Network */
#network {
  color: @green;
  padding: 0px 6px;
}

#network.disabled {
  color: @surface1;
}

/* Audio - https://github.com/Alexays/Waybar/wiki/Module:-WirePlumber */
#wireplumber {
  color: @text;
  padding: 0px 6px;
}

#wireplumber.muted,
#wireplumber.sink-muted {
  color: @surface1;
}

/* Systemd failed units - https://github.com/Alexays/Waybar/wiki/Module:-Systemd-failed-units */
#systemd-failed-units {
  padding: 0px 6px;
  font-weight: 800;
  margin: 5px 5px 5px 0px;
}

#systemd-failed-units.ok {
  color: @green;
}

#systemd-failed-units.degraded {
  color: @red;
}

/* Temperature - https://github.com/Alexays/Waybar/wiki/Module:-Temperature */
#temperature {
  color: @text;
  padding: 0px 4px;
}

#temperature.warning {
  color: @yellow;
}

#temperature.critical {
  color: @red;
  font-weight: 800;
}

/* Tray - https://github.com/Alexays/Waybar/wiki/Module:-Tray */
#tray {
  padding: 0px 6px;
}

#tray > .needs-attention {
  color: @red;
}

/* Power Profiles Daemon - https://github.com/Alexays/Waybar/wiki/Module:-PowerProfilesDaemon */
#power-profiles-daemon {
  padding: 0px 6px;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.balanced {
  color: @blue;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

/* Group - https://github.com/Alexays/Waybar/wiki/Module:-Group */
#group-power {
  padding: 0px 6px;
  margin: 5px 10px 5px 0px;
  color: @maroon;
}

#group-media {
  color: @teal;
  margin: 5px 0px 5px 80px;
}

#custom-media-animation {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-playing {
  margin-right: 10px;
}

#custom-media-time {
  font-size: 14px;
  color: @overlay1;
  margin: 6px 0px 4px 0px;
}
