@import "macchiato.css";

* {
  font-family: JetBrainsMono NFP;
  font-size: 18px;
}

/* Bar styling - https://github.com/Alexays/Waybar/wiki/Styling#Bar-styling */
window#waybar {
  background-color: @base;
  color: @text;
}

/* Tooltip styling - https://github.com/Alexays/Waybar/wiki/Styling */
tooltip {
  background: @mantle;
  border: 1px solid @surface0;
  border-radius: 4px;
}

tooltip label {
  color: @text;
  padding: 2px 4px;
}

/* Hyprland workspaces - https://github.com/Alexays/Waybar/wiki/Module:-Hyprland#workspaces */
#workspaces button {
  padding: 0px 1px;
  margin: 5px 0px 5px 7px;
  border-radius: 2px;
  color: @text;
  background: transparent;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button.active {
  font-weight: 800;
}

#workspaces button.special {
  padding: 0px 4px;
}

#workspaces button.active.hosting-monitor {
  background: @peach;
  color: black;
}

#submap {
  background: @green;
  color: @base;
  font-weight: 800;
  border-radius: 2px;
  margin: 5px 0px 5px 7px;
  padding: 0px 6px;
}

/* Backlight - https://github.com/Alexays/Waybar/wiki/Module:-Backlight */
#backlight {
  color: @text;
  padding: 0px 8px;
}

/* Battery - https://github.com/Alexays/Waybar/wiki/Module:-Battery */
#battery {
  color: @text;
  padding: 0px 10px 0px 4px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

/* Bluetooth - https://github.com/Alexays/Waybar/wiki/Module:-Bluetooth */
#bluetooth {
  color: @text;
  padding: 0px 6px;
}

#bluetooth.connected {
  color: @blue;
}

#bluetooth.off,
#bluetooth.disabled {
  color: @surface1;
}

/* CPU - https://github.com/Alexays/Waybar/wiki/Module:-CPU */
#cpu {
  color: @text;
  padding: 0px 8px;
}

#cpu.warning {
  color: @yellow;
}

#cpu.critical {
  color: @red;
}

/* Clock - ttps://github.com/Alexays/Waybar/wiki/Module:-Clock */
#clock {
  color: @text;
  padding: 0px 8px;
  font-feature-settings: "tnum";
}

/* Memory - https://github.com/Alexays/Waybar/wiki/Module:-Memory */
#memory {
  color: @text;
  padding: 0px 6px;
}

#memory.warning {
  color: @yellow;
}

#memory.critical {
  color: @red;
}

/* Network - https://github.com/Alexays/Waybar/wiki/Module:-Network */
#network {
  color: @text;
  padding: 0px 6px;
}

#network.disabled {
  color: @surface1;
}
